.github/
.storybook/
build/*
config/*
dist/*
node_modules/*
public/*
!public/events
!public/client
!public/electron.js
resources/*
scripts/*
!scripts/notarize.js
!scripts/download-daemon.js
*.stories.js